﻿<h1>Update <span data-bind="text: fullName" /></h1>

<h2>User Details</h2>

<ol>
    <li>
        <label for="isAuthorisedCheckBox" data-bind="click: ToggleAuthorised">Authorised</label>
        <input id="isAuthorisedCheckBox" type="checkbox" readonly="readonly" disabled="disabled" data-bind="checked: isAuthorised, visible: isAuthorised" />
    </li>
    <li>
        <label for="isEnabledCheckBox" data-bind="click: ToggleEnabled">Enabled</label>
        <input id="isEnabledCheckBox" type="checkbox" readonly="readonly" disabled="disabled" data-bind="checked: isEnabled, visible: isEnabled" />
    </li>
</ol>

<br />

<h2>Favourite Colours</h2>

<ol data-bind="foreach: colours">
    <li>
        <label data-bind='attr: { for: name }, text: name, click: $parent.ToggleColour'></label>
        <input type="checkbox" readonly="readonly" disabled="disabled" data-bind='checked: isSelected, visible: isSelected' />
    </li>
</ol>

<div id="controls">
    <button id="save" type="submit" value="Save changes" data-bind="click: UpdatePerson">Save changes</button>
    <button id="cancel" type="submit" value="Cancel" data-bind="click: CancelEdit">Cancel</button>
</div>
