﻿<table>
    <caption>People</caption>
    <thead>
        <tr>
            <th id="name">Name</th>
            <th id="palindrome">Palindrome</th>
            <th id="authorised">Authorised</th>
            <th id="enabled">Enabled</th>
            <th id="colours">Colours</th>
        </tr>
    </thead>

    <tbody data-bind="foreach: people">
        <tr>
            <td headers="name" data-bind="text: fullName, click: $root.EditPerson"></td>
            <td headers="palindrome" data-bind="text: isPalindromeStatus, css: isPalindromeStatus"></td>
            <td headers="authorised" data-bind="text: isAuthorisedStatus, css: isAuthorisedStatus"></td>
            <td headers="enabled" data-bind="text: isEnabledStatus, css: isEnabledStatus"></td>
            <td headers="colours" data-bind="text: colourList"> </td>
        </tr>
    </tbody>

</table>
