﻿<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Ans Interview Test</title>
        <script type="text/javascript" src="~/Scripts/jQuery_1_11_1.js"> </script>
        <script type="text/javascript" src="~/Scripts/knockout_3_3_0.js"> </script>

        <script type="text/javascript" src="~/Scripts/Colour.js"> </script>
        <script type="text/javascript" src="~/Scripts/Person.js"> </script>
        <script type="text/javascript" src="~/Scripts/PersonViewModel.js"> </script>
        <script type="text/javascript" src="~/Scripts/PeopleViewModel.js"> </script>

        <link type="text/css" rel="stylesheet" href="~/Content/CSS/Reset.css" />
        <link type="text/css" rel="stylesheet" href="~/Content/CSS/Site.css" />
    </head>
    <body>
        <div id="content">
        </div>

        <script>
        $(function () {

            var peopleViewModel = new PeopleViewModel();
            peopleViewModel.GetAllPeople();

            $('#content').load("/Home/Index", function () {
                ko.applyBindings(peopleViewModel, $("#content")[0]);
            });

        });
        </script>
    </body>
</html>
