﻿body
{
  font-family: Arial;
  font-size: 12pt;
  background-color: #f7f7f7;
  padding: 1em;
}

table
{
    border-collapse: collapse;
    text-align: left;
}

caption, h1
{
    text-align: left;
    margin-bottom: 1em;
    font-size: 200%;
    font-weight: bold;
}

h2
{
    text-align: left;
    font-size: 150%;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    margin: 1em 0;
}

tbody tr
{
    border-top: 1px solid #ccc;
}

tbody td
{
    padding: 0.5em 1.5em;
}

thead th
{
    font-weight: bold;
    padding: 0.25em 1.5em 0.5em 1.5em;
}

tbody td[headers='name']
{
    color: #14BACB;
    font-weight: bold;
    cursor: pointer;
}

tbody td.Yes
{
    color: green;
}

tbody td.No
{
    color: red;
}

label 
{ 
    display: inline-block;
    width: 10em;
    text-align: right;
    padding-right: 1em;
    vertical-align: top;
    cursor: pointer;
}

input {
    vertical-align: top;
}

div, br { clear: both; }

ol
 { 
    list-style-position: inside;
    list-style-type: none;
    display: block;
}

li 
{
     padding: 0.75em 0;
     height: 2em;
}

label:hover
{
    color: #77aaaa;
}

button#save
{
    background-color: #8FCCFF;
    margin-left: 10em;
}